input {
  background-color: hsla(0,0%,100%,.125);
  border: 0;
  height: 100%;
  width: 300px;
  margin-right: 16px;
}

a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 14px;
  margin-right: 16px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

h4 {
  margin: 0 0 8px;
}

img {
  height: 44px;
  width: 44px;
  border-radius: 3px;
  float: left;
}

button {
  height: 70px;
  width: 160px;
  font-size: 24px;
}

.header {
  height: 48px;
  background-color: #24292e;
  margin: 0 auto;
  color: white;
  line-height: 1.5em;
  padding: 8px;
  text-align: left;
}

.nav {
  margin: 0 0 8px 16px;
  height: 28px;
  display: inline-block;
}

.container {
  width: 930px;
  margin: 0 auto;

}

.description {
  height: 74px;
  padding: 24px;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  margin: 40px 0;
}

.buffer {
  height: 21px;
  padding: 16px 32px;
  margin-top: 25px;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  text-align: left;
}

.issue {
  padding: 8px 32px;
  border: 1px solid #d1d5da;
  border-top: transparent;
  text-align: left;
}

.info {
  font-size: 12px;
  color: #586069;
}

.title {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #0366d6;
}

.comment-icon {
  float: right;
  font-size: 12px;
}

.fab {
  color: white;
  font-size: 1.9em;
  margin: 8px ;
  display: inline-block;
}

.open {
  color: #2cbe4e;
  margin-right: 8px;
}

.open-item {
  color: #586069;
  font-size: 14px;
}

.open-sign {
  background-color: #2cbe4e;
  color: white;
  margin: 16px;
}

.show-header {
  margin: 25px;
  text-align: left;
}

.header-title {
  font-size: 32px;
  font-weight: 400;
}

.id {
  color: #a3aab1;
  font-size: 32px;
}

.comment {
  display: inline-block;
  margin: 20px auto;
  padding: 0;
  display: inline-block;
  width: 760px;
}

.comment-header {
  color: #586069;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 682px;
  padding: 8px;
  float: right;
  text-align: justify;
  align-content: center;
}

.comment-body {
  padding: 10px;
  width: 678px;
  float: right;
  border: 1px solid #d1d5da;
  border-top: none;
  text-align: left;
}

#dismiss {
  float: right;
  font-size: 14px;
  color: #0366d6;
}